*{
  text-decoration: none;
}

.homepage-body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  font-family: Montserrat, sans-serif;
}

.homepage-body{
  margin-top: 80px;
}

.homepage-body hr{
  width: 60%;
}

.homepage-header{
  width: 100%;
  text-align: center;
}

.coin-card{
  height: 350px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-style: solid;
  border-color: #777;
  border-width: 1px;
  box-shadow: 5px 5px 5px #888;
  color: #111;
  margin: 15px;
}

.coin-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #111;
}

.coin-card:hover{
  transition: all ease 0.6s;
  box-shadow: 5px 5px 5px #66C8FF;
  transform: scale(1.1);
}

.coin-logo{
  height: 100px;
  width: 100px;
  margin: 0;
}

.fav-btn{
  font-family: Montserrat, sans-serif;
  color: #F2F2F2;
  background: #333;
  border: none;
  padding: 5px;
  height: 35px;
  width: 120px;
  outline: none;
}

.fav-btn:hover{
  background: #66C8FF;
  color: #FFF;
  transition: all ease 0.6s;
}
